# Dependencies
node_modules/
backend/venv/
venv/
.venv/

# Next.js
frontend/.next/
frontend/out/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment & Databases
*.env
*.env.local
backend/invisiface.db
*.sqlite3

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
